@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

/* Header */

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 3%;
  background-color: rgb(22, 10, 26);
}

#navbar h1 a {
  text-decoration: none;
  font-weight: 900;
  font-size: 2rem;
}

@keyframes changeColor {
  0% {
    background-color: #eea1c2;
  }
  25% {
    background-color: #dac3f5;
  }
  50% {
    background-color: #916FB7;
  }
  75% {
    background-color: rgb(230, 138, 156);
  }
  100% {
    background-color: #eea1c2;
  }
}

#navbar h1 a:hover {
  animation-name: changeColor;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-icon {
  color: white;
  padding: 0 10px;
}

.fa-star:hover {
  transform: rotate(30deg);
}

.nav-icon:hover {
  cursor: pointer;
  color: #9f6fb7;
}

.search-bar {
  display: inline-flex;
  align-items: center;
  position: absolute;
}

/* .search-btn {} */

nav {
  padding: 5% 0;
  background: black;
}

nav ul {
  /* display: flex; */
  text-align: center;
  list-style-type: none;
  justify-content: space-evenly;
}

nav ul li {
  padding: 1% 0;
}

nav ul li a {
  font-size: 1.5rem;
  text-decoration: none;
}

#login {
  text-decoration: none;
  font-weight: 700;
}

nav ul li a:hover, #login:hover {
  color: #916FB7;
}

/* Footer */

footer {
  display: grid;
  grid-template: repeat(2, min-content)/repeat(4, 1fr);
  gap: 5%;
  padding: 3% 5%;
  background-color: black;
}

.link-list ul {
  list-style-type: none;
  padding: 0;
}

.link-list ul li {
  /* list-style-type: none; */
  padding: 2% 0;
}

.link-list h1 {
  font-size: 1.3rem;
  color: white;
  padding-bottom: 7%;
}

.link-list-item a {
  font-size: 0.9rem;
  text-decoration: none;
  color: white;
  font-weight: 300;
}

#contact-footer-link {
  display: flex;
  gap: 2%;
  align-items: center;
}

#support-footer-links {
  padding-bottom: 10%;
}

#social-footer-links {
  display: flex;
  gap: 2%;
}

#license {
  grid-area: 3/2/4/4;
  text-align: center;
}

.subscribe-input {
  padding: 5% 0;
}

.subscribe-label {
  font-weight: 300;
}

@media (max-width: 600px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 5% 0;
    padding: 5% 3%;
  }
  .link-list ul {
    padding: 5% 0;
  }
  .link-list h1 {
    font-size: 1.3rem;
    color: white;
    padding-bottom: 0;
  }
  #contact-footer-link {
    justify-content: center;
  }
  #social-footer-links {
    justify-content: center;
  }
  #newsletter-list {
    padding-bottom: 5%;
  }
}

/* Main */

main {
  width: 100%;
  height: 100%;
}

/* Button */

/* button {
  border-width: 1px;
  padding: 10px 15px;
  border-radius: 50px;
} */

.blk-white-btn {
  border-width: 0px;
  padding: 4%;
  border-radius: 50px;
}

/* Text Colors */

.white-text {
  color: white;
}

.blk-text {
  color: black;
}

/* Home Page */

#home-intro {
  background: url("../images/homeintrobg.jpeg");
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-intro h1 {
  font-size: 3rem;
  font-weight: 900;
  width: 50%;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 1.5px 1.5px rgb(206, 151, 238);
}

#ask-cards-intro {
  background: url("../images/askcardsintro.jpg");
}

#home-intro, #ask-cards-intro {
  background-size: cover;
  background-repeat: no-repeat;
}

.home-section-heading {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-weight: 800;
  padding-top: 5%
}

#services-section {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  /* gap: 2% 0; */
  text-align: center;
  background: linear-gradient(#1E193D, #99A9E7);
  /* height: 100%; */
}

.ask-link img {
  width: 50%;
}

@media (max-width: 700px) {
  #services-section, .service-select-cards {
    display: flex;
    flex-direction: column;
  }
  .ask-link img {
    width: 30%;
  }
}

.service-select-cards {
  display: flex;
  justify-content: space-evenly;
  padding: 5% 0;
}

.services-subheading {
  padding: 5% 0;
  font-size: 1.5rem;
  font-weight: 400;
}

#ask-section {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.ask-option-section {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  gap: 5%;
  padding: 5%;
}

.ask-heading {
  font-weight: 700;
}

.ask-desc {
  font-weight: 300;
}

#ask-cards {
  background: linear-gradient(#99A9E7, #F997F1);
  /* height: 100vh; */
}

#ask-cards-desc {
  grid-area: 1/1/2/2;
  text-align: left;
}

#ask-cards-quote {
  grid-area: 3/3/4/4;
  text-align: right;
}

#ask-stars {
  background: linear-gradient(#F997F1, #7CECFB);
}

#ask-stars-desc {
  grid-area: 3/3/4/4;
  text-align: right;
}

#ask-stars-quote {
  grid-area: 1/1/2/2;
  text-align: left;
}

#ask-crystal-ball {
  padding-top: 10%;
  height: 100%;
  background: linear-gradient(#7CECFB, #4D163E, #1D0A27);
  /* background-image: url(../images/purplecrystal.png) no-repeat; */
  /* background-size: contain;
  background-position: center;  */
  display: grid;
  grid-template: 1fr/repeat(3, 1fr);
}

#ask-crystal-ball::before {
  background-image: url(../images/purplecrystal.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  content: '';
  /* display: block; */
  position: absolute;
  /* width: 100%; */
  height: 500px;
}

#ask-crystal-ball-desc {
  grid-area: 1/1/2/2;
  text-align: left;
}

#ask-crystal-ball-quote {
  grid-area: 1/3/2/4;
  text-align: right;
}

/* Pages */

.section {
  height: 100vh;
}

/* About Page */

#about-page {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(4, 1fr);
  padding: 0;
}

#about-intro {
  grid-area: 1/1/2/5;
  background: url('../images/aboutintrobg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#about-intro h2 {
  padding: 2%;
  color: rgb(123, 245, 254);
  text-shadow: 2px 2px #2fa2b1;
  font-weight: 900;
  text-align: end;
  align-self: end;
}

#mystic-descriptions {
  grid-area: 2/1/3/5;
  padding: 20% 0;
  background: linear-gradient(#d677e4, rgb(123, 245, 254))
}

/* Ask Cards Page */

#deck {
  display: flex;
}

#ask-the-cards-intro {
  background: no-repeat url('../images/askintrobg.jpg');
  background-size: cover;
  display: flex;
  gap: 2%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ask-the-cards-intro h2 {
  text-align: center;
  padding: 0 30%;
  font-weight: 900;
  color: #ffffff;
  text-shadow: 1.5px 1.5px #bd588fd2;
}

#reading-choices {
  display: flex;
  justify-content: space-around;
  gap: 5%;
  align-items: center;
  text-align: center;
  background: transparent linear-gradient(180deg, #BAA4D3 0%, var(--unnamed-color-ffffff) 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #BAA4D3 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 10% 3%;
}

.reading-choice a button {
  padding: 2% 5%;
  border: none;
  background: #9f4f7d;
  color: #000000;
}

.reading-choice a button:hover {
  animation-name: changeColor;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  background: #9f4f7d;
}

.card-reading-spread {
  display: flex;
  width: 50%;
  padding: 5% 0;
}

.card-reading-spread img {
  width: 100px;
}

#five-card-spread {
  display: grid;
  grid-template: repeat(3, min-content)/repeat(3, min-content);
}

#card1 {
  grid-area: 1/2/2/3;
}

#card2 {
  grid-area: 2/1/3/2;
}

#card3 {
  grid-area: 2/2/3/3;
}

#card4 {
  grid-area: 2/3/3/4;
}

#card5 {
  grid-area: 3/2/4/3;
}

@media (max-width: 700px) {
  #reading-choices {
    flex-direction: column;
  }
}

/* Card Reading Main page */

.card-page {
  display: flex;
  flex-direction: column;
  gap: 2%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: transparent linear-gradient(180deg, var(--unnamed-color-ffffff) 0%, #E7E2ED 50%, #EABDD0 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #FFFFFF 0%, #E7E2ED 50%, #EABDD0 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}

/* Card Reading Main page */

form #question {
  display: block;
  margin: 5% 0;
}

/* Ask Stars Page */

#ask-stars-intro {
  background: url("../images/starsintrobg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: pink;
  /* text-align: center; */
}

#ask-stars-intro h1 {
  font-weight: 900;
}

#ask-stars-intro h2, #ask-stars-intro h1 {
  text-align: center;
  text-shadow: 2px 2px #66608f;
  padding: 0 20%;
}

#ask-the-stars-page form {
  padding: 5% 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(#66608f, rgb(233, 136, 189));
}

#stars-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Ask Crystal Ball Page */

#ask-crystal-ball-intro {
  height: 100%;
  background: url("../images/askcrystalbgintro.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.ask-crystal-bg {
  height: 100vh;
  background: linear-gradient(#DDDEE6, black);
  display: grid;
  grid-template: repeat(4, 1fr)/repeat(3, 1fr);
}

/* Contact Page */

/* #contact {
  background: url('../images/contactbg.jpeg');
} */

#contact-form {
  border: 5px solid black;
  margin: 8% 30%;
  padding: 5%;
  border-radius: 50px;
  text-align: center;
}

#form-el {
  margin: 5% 0;
}

@media (max-width: 700px) {
  #contact-form {
    margin: 2% 20%;
  }
}

/* Manifestations and Affirmations */

#mani-and-affirm {
  display: flex;
  flex-direction: row;
  gap: 5%;
  justify-content: space-around;
  padding: 10%;
  align-items: center;
  background: linear-gradient(rgb(57, 166, 186), pink);
}

#manifestations-section {
  height: 275px;
  padding: 5%;
  background: pink;
  overflow: scroll;
}

#affirmations-section {
  background: rgb(122, 204, 218);
  padding: 5%;
}

#manifestations-section, #affirmations-section {
  max-width: 500px;
}

#manifestation-item {
  list-style-type: '💘 ';
  padding: 2% 0;
}

@media (max-width: 600px) {
  #mani-and-affirm {
    flex-direction: column;
  }
}