@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

/* Header */

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 3%;
  background-color: rgb(22, 10, 26);
}

#navbar h1 a {
  text-decoration: none;
  font-weight: 900;
  font-size: 2rem;
}

@keyframes changeColor {
  0% {
    background-color: #eea1c2;
  }
  25% {
    background-color: #dac3f5;
  }
  50% {
    background-color: #916FB7;
  }
  75% {
    background-color: rgb(230, 138, 156);
  }
  100% {
    background-color: #eea1c2;
  }
}

#navbar h1 a:hover {
  animation-name: changeColor;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-icon {
  color: white;
  padding: 0 10px;
}

.fa-star:hover {
  transform: rotate(30deg);
}

.nav-icon:hover {
  cursor: pointer;
  color: #9f6fb7;
}

.search-bar {
  display: inline;
  position: absolute;
}

nav {
  padding: 5% 0;
  background: black;
}

nav ul {
  /* display: flex; */
  text-align: center;
  list-style-type: none;
  justify-content: space-evenly;
}

nav ul li {
  padding: 1% 0;
}

nav ul li a {
  font-size: 1.5rem;
  text-decoration: none;
}

#login {
  text-decoration: none;
  font-weight: 700;
}

nav ul li a:hover, #login:hover {
  color: #916FB7;
}

/* Footer */

footer {
  display: grid;
  grid-template: repeat(2, min-content)/repeat(4, 1fr);
  gap: 5%;
  padding: 3% 5%;
  background-color: black;
}

.link-list ul {
  list-style-type: none;
}

.link-list ul li {
  padding: 2% 0;
}

.link-list h1 {
  font-size: 1.3rem;
  color: white;
  padding-bottom: 7%;
}

.link-list-item a {
  font-size: 0.9rem;
  text-decoration: none;
  color: white;
  font-weight: 300;
}

#contact-footer-link {
  display: flex;
  gap: 2%;
  align-items: center;
}

#support-footer-links {
  padding-bottom: 10%;
}

#social-footer-links {
  display: flex;
  gap: 2%;
}

#license {
  grid-area: 3/2/4/4;
  text-align: center;
}

.subscribe-input {
  padding: 5% 0;
}

.subscribe-label {
  font-weight: 300;
}

@media (max-width: 600px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 5% 0;
    padding: 5% 3%;
  }
  .link-list ul {
    padding: 5% 0;
  }
  .link-list h1 {
    font-size: 1.3rem;
    color: white;
    padding-bottom: 0;
  }
  #contact-footer-link {
    justify-content: center;
  }
  #social-footer-links {
    justify-content: center;
  }
  #newsletter-list {
    padding-bottom: 5%;
  }
}

/* Main */

main {
  width: 100%;
  height: 100%;
}

/* Button */

button {
  border-width: 1px;
  padding: 10px 15px;
  border-radius: 50px;
}

.blk-white-btn {
  border-width: 0px;
  padding: 4%;
  border-radius: 50px;
}

/* Text Colors */

.white-text {
  color: white;
}

.blk-text {
  color: black;
}

/* Home Page */

#home-intro {
  background: url("../images/homeintrobg.jpeg");
}

#ask-cards-intro {
  background: url("../images/askcardsintro.jpg");
}

#home-intro, #ask-cards-intro {
  background-size: cover;
  background-repeat: no-repeat;
}

.home-section-heading {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  padding-top: 5%
}

#services-section {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 2% 0;
  text-align: center;
  background: linear-gradient(#1E193D, #99A9E7);
  height: 100vh;
}

@media (max-width: 700px) {
  #services-section, .service-select-cards {
    display: flex;
    flex-direction: column;
  }
}

.service-select-cards {
  display: flex;
  justify-content: space-evenly;
}

.services-subheading {
  padding: 5% 0;
}

#ask-section {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.ask-option-section {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  gap: 5%;
  padding: 5%;
}

#ask-cards {
  background: linear-gradient(#99A9E7, #F997F1);
  height: 100vh;
}

#ask-cards-desc {
  grid-area: 1/1/2/2;
  text-align: left;
}

#ask-cards-quote {
  grid-area: 3/3/4/4;
  text-align: right;
}

#ask-stars {
  background: linear-gradient(#F997F1, #7CECFB);
  height: 100vh;
}

#ask-stars-desc {
  grid-area: 3/3/4/4;
  text-align: right;
}

#ask-stars-quote {
  grid-area: 1/1/2/2;
  text-align: left;
}

#ask-crystal-ball {
  background: linear-gradient(#7CECFB, #4D163E, #1D0A27);
  height: 100vh;
}

#ask-crystal-ball-desc {
  grid-area: 1/1/2/2;
  text-align: left;
}

#ask-crystal-ball-quote {
  grid-area: 1/3/2/4;
  text-align: right;
}

/* Pages */

.section {
  height: 100vh;
}

/* Ask Cards Page */

#deck {
  display: flex;
}

.tarot-card-back {
  max-width: 4rem;
}

/* Ask Stars Page */

/* Ask Crystal Ball Page */

#ask-crystal-ball-intro {
  height: 100%;
  background: url("../images/askcrystalbgintro.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.ask-crystal-bg {
  height: 100vh;
  background: linear-gradient(#DDDEE6, black);
  display: grid;
  grid-template: repeat(4, 1fr)/repeat(3, 1fr);
}

/* Contact Page */
